{% extends 'base.html' %}
{% block title %}GDSC{% endblock %}
{% block head %}
    {{ super() }}
    <style>
      .btn-link.btn-anchor {
          outline: none !important;
          padding: 0;
          border: 0;
          vertical-align: baseline;
      }
      .btn-link.btn-anchor:focus {
          box-shadow: none !important;
      }
    </style>
{% endblock %}

{% block content %}
      <p class="mb-5">
        The University of Miami <b>Geospatial Data Special Collections</b> (GDSC) is a joint initiative between the <a href="https://idsc.miami.edu">Institute for Data Science and Computing</a> (IDSC) and the <a href="https://www.library.miami.edu">University of Miami Libraries</a> to make <b>geographic data</b> at the University of Miami more <b>discoverable</b>, <b>accessible</b>, and <b>interoperable</b>. To do this GDSC provides a non-proprietary platform to dynamically discover, publish, and/or consume geographic <b>data as a service</b>. The geographic data available through GDSC is a <b>highly curated</b> set of collections--or special collections--of geographic data with coverage in <b>south Florida</b> and the <b>Global South</b> of the western hemisphere.
      </p>
      <div class="container mb-4">
        <div class="row border-top border-bottom pt-2 pb-2">
          <form method="post" id="filterForm" name="filterForm" class="w-100">
            <div class="float-left">
              <h5 class="float-left mr-2 mt-2">Collection: </h5>
              <div class="float-left">
                <select class="form-control" id="collection" name="collection">
                  <option value="all" {{ "selected='selected'" if collection == 'all' else "" }}>all</option>
                  <option value="DVMT" {{ "selected='selected'" if collection == 'DVMT' else "" }}>DVMT</option>
                  <option value="Climate Change" {{ "selected='selected'" if collection == 'Climate Change' else "" }}>Climate Change</option>
                  <option value="CAMP" {{ "selected='selected'" if collection == 'CAMP' else "" }}>CAMP</option>
                  <option value="LAND" {{ "selected='selected'" if collection == 'LAND' else "" }}>LAND</option>
                  <option value="Vulnerability" {{ "selected='selected'" if collection == 'Vulnerability' else "" }}>Vulnerability</option>
                  <option value="Health Outcomes" {{ "selected='selected'" if collection == 'Health Outcomes' else "" }}>Health Outcomes</option>
                  <option value="Transportation" {{ "selected='selected'" if collection == 'Transportation' else "" }}>Transportation</option>
                  <option value="Census" {{ "selected='selected'" if collection == 'Census' else "" }}>Census</option>
                </select>
              </div>
            </div>
            <div class="float-left mb-1">
              <input type="checkbox" {{ "checked" if active == 'true' else "" }} id="active" name="active" value="true" class="ml-3 mt-3">
              <label for="active">show only active datasets</label>
            </div>
            <div class="float-right">
              <button type="submit" class="float-right btn btn-primary">Search</button>
              <div class="float-right mr-3">
                <input type="text" class="form-control" name="searchTerm" placeholder="Enter search term(s)" value="{{ query if (query != "" and query != None) else "" }}">
              </div>
            </div>
          </form>
        </div>
        {% if results and results|length > 0 %}
        <div class="row mt-4 pt-2 pb-1">
          <h5 class="float-left ml-2 mt-2">Results (n={{ numresults }}):</h5>
        </div>
        {% for document in results %}
        <div class="row border-top pt-2 pb-2">
          <div class="col-7 align-top">
            <h4 class="float-left">{% if document['dct_title'] %}<a href="/detail/{{ document['gdsc_tablename'][0] }}?collection={{ collection }}&active={{ active }}&query={{ query }}">{{ document['dct_title'][0] }}</a>{% endif %}</h4>
          </div>
          <div class="col-5 align-top">
            {% if document['gdsc_collections'] and document['gdsc_collections']|length > 0 %}
              <span class="d-block float-right align-top text-right"><b>Collections:</b>
                {% for collection in document['gdsc_collections'] %}{{ collection }}{{ " | " if not loop.last else "" }}{% endfor %}
              </span>
            {% endif %}
          </div>
        </div>
        <div class="row mb-4">
          <div class="col ml-4">
            <div class="container">
              <div class="row">
                <div class="col-10">
                  <b>Citation:</b> 
                  {% if document['dct_creator'] %}{{ document['dct_creator'][0] }}{% endif %}
                  {% if document['dct_issued'] %}({{ document['dct_issued'][0][:4] }}){% endif %}.
                  {% if document['dct_title'] %}{{ document['dct_title'][0] }}{% endif %} [gis dataset].
                  {% if document['dct_publisher'] %}{{ document['dct_publisher'][0] }}{% endif %}.
                  {% if document['dct_identifier'] %}<a href="{{ document['dct_identifier'][0] }}" target="_blank" class="text-wrap text-break">{{ document['dct_identifier'][0] }}</a>.{% endif %}
                  {% if document['dct_modified'] %} last updated: {{ document['dct_modified'][0][:10] }}{% endif %}
                  {% if document['dcat_downloadURL'] %} from <a href="{{ document['dcat_downloadURL'][0] }}" target="_blank">{{ document['dcat_downloadURL'][0] }}</a>{% endif %} 
                  {% if document['dct_accrualPeriodicity'] %} (update frequency: {{ document['dct_accrualPeriodicity'][0] }}){% endif %}.
                  {% if document['dct_description'] %}
                  <span class="mt-2 d-block"><b>Abstract:</b> {{ document['dct_description'][0] }}</span>
                  {% endif %}
                  {% if document['dcat_keyword'] and document['dcat_keyword']|length > 0 %}
                  <span class="mt-1 d-block"><b>key words:</b>
                    {# {% for keyword in document['dcat_keyword'] %}{{ keyword }}{{ ", " if not loop.last else "" }}{% endfor %} #}
                    {{ ", ".join(document['dcat_keyword']) }}
                  </span>
                  {% endif %}
                </div>
                <div class="col">
                  {% if document['gdsc_sponsor'] %}
                  Sponsors:<br>
                  {% for sponsor in document['gdsc_sponsor'] %}
                  <a href="{{ sponsor.split(';')[1] }}" target="_blank"><img src="/static/{{ sponsor.split(';')[0] }}-small.jpg" style="max-height:30px;"></a>
                  {% endfor %}
                  {% endif %}
                </div>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
        {% endif %}
      </div>
      <script>
        const collection = document.getElementById("collection");
        collection.addEventListener("change", function() {
         document.getElementById("filterForm").submit();
        });
        const active = document.getElementById("active");
        active.addEventListener("change", function() {
         document.getElementById("filterForm").submit();
        });
      </script>
{% endblock %}